[Unit]
Description=Gunicorn instance to serve flask_app
After=network.target

[Service]
User=john
Group=www-data
WorkingDirectory=/home/john/do_deploy_tutorial
Environment="PATH=/home/ohn/do_deploy_tutorial/flask_app_env/bin"
ExecStart=/home/john/do_deploy_tutorial/flask_app_env/bin/gunicorn --workers 3 --bind unix:flask_app.sock -m 007 wsgi:app


[Install]
WantedBy=multi-user.target